#page { width: 99vw; margin: 0 auto; } 
nav { width: 100%; margin: 0 auto; } 
.brand { text-align: center; padding: 1.5rem; background-color: rgba(56, 182, 255); } 
.fab img { width: 2rem; } 

.fab { position: absolute; left: 15px; top:25px } 
.main-banner video {
  margin-top: 30px; 
}
.main-banner2 video {
  margin-top: 20px;
}
.main-banner3 video {
  margin-top: 20px; 
}
.menu li { float: left; width: 50%; border: 1px solid var(--grayscale-20); } 
.menu li a { display: block; height: 6rem; display: flex; align-items: center; justify-content: center; } 


.menu li a:hover { background-color: rgba(56, 182, 255); color: var(--white); } 

footer { clear: both; height: 6rem; background-color: rgba(56, 182, 255); font-style: italic; } 
#address { margin-left: 1.5rem; height: 80%; display: flex; align-items: center; } 
#customer { margin-left: 1.5rem; height: 20%; display: flex; align-items: center; } 


@media screen and (min-width: 768px) { 
 nav { width: 90%; } 
 .fab img { display: none; } 
 .brand { float: left; } 
 .menu { float: right; } 
 .menu li { border: none; width: auto; } 
 .menu li a { padding: 1rem 0.6rem 1rem 0.6rem; } 


 #address { float: left; height: 100%; } 
 #customer { float: right; height: 100%; margin-right: 1rem; } 
 }

@media screen and (min-width: 1024px) { 
 nav { width: 60%; } 
 }

/* Swiper 컨테이너를 화면 중앙으로 정렬 */
.swiper.mySwiper { display: flex; justify-content: center; align-items: center; width: 100%; max-width: 100%; margin-top: 2rem; } 
 
 /* 개별 슬라이드 정렬 */
 .swiper-slide { display: flex; justify-content: center; align-items: center; text-align: center; } 
 
 /* 모바일 화면에서 Swiper 슬라이더 정렬 */
 @media screen and (max-width: 768px){
 .swiper.mySwiper { display: flex; justify-content: center; align-items: center; width: 100%; } 
 
 .swiper-slide { display: flex; justify-content: center; align-items: center; text-align: center; } 
 
 /* 동영상 크기 조정 */
 .swiper-slide video { width: 100%; height: auto; max-width: 100%; } 
 }
 