#page {width: 99vw; height: 99vh; margin: 0 auto;}
.detail-list { font-family:  'DungGeunMo'; font-size: 2rem;display: flex; align-items: center; justify-content: center;}
.detail-list li{ display: inline-block; font-weight: bold; margin: 0 auto; }
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
table{ background-color: rgb(187, 219, 238,0.5);     margin-left: auto;     margin-right: auto; margin-bottom: 1rem;  
     font-family: 'DungGeunMo';}
table, td, th {border-collapse: collapse;border-right: 2px solid rgba(56, 182, 255);padding: 8px;}
    th {border-bottom: 3px solid rgba(56, 182, 255);}
    td {border-bottom: 2px solid rgba(56, 182, 255);}

    /* TODO 아래쪽/오른쪽 흰색으로 변경 : 안하면 하늘색으로 칠해짐 */
    .bottom {border-bottom: 2px solid white;}
    .right {border-right: 2px solid white;}